html, body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Mitr,sans-serif;
  color: white;
}

:root {
  --inset: env(safe-area-inset-top);
}

body {
  --colorRight: #3aa394;
  --colorPlace: #d3ad69;
  --colorWrong: #312a2c;
  background: #6e5c62;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - var(--inset));
  margin-top: var(--inset);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}
header a {
  font-size: 1.5rem;
  margin-top: -10px;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block; /*Importante*/
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-weight: 600;
  font-size: 1em;
}

#footer {
  z-index: 20;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:baseline;
  background-size: 100%;
  height: 60px;
  bottom: 0;
}

#footer .site-info {
  font-size: 10px;
  display: inline-block;
}

footer a {
  color: #ffffff;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  text-align: left;
  cursor: pointer;
  margin: 0;
}

input {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  text-align: left;
  cursor: pointer;  
  font-weight: 600;
}

.teclado {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  pointer-events: none;
}

.letra, .enter, .backspace {
  width: 3rem;
  height: 2rem;
  background-color: transparent;
  text-align: center;
  margin: 1rem;
  background-color: #4C4347;
  border-radius: 8%;
  box-sizing: border-box;
  padding: 1rem;
  line-height: 0rem;
  pointer-events: all;
}

.enter {
  min-width: 6rem;
  margin-left: 0.5rem;
}

.backspace {
  min-width: 4rem;
  margin-left: 0.5rem;
}

.row {
  display: block;
  flex-wrap: nowrap;
}

#try>div>input {
  width: 2.5rem;
  height: 2.5rem;
  background-color: none;
  text-align: center;
  margin: 0.1rem;
  border-radius: 8%;
  font-weight: 500;
  box-sizing: border-box;
  flex-shrink: 0;
  font-weight: 900;
}

#try div:not(.oculto) input:not(.certo):not(.errou):not(.quase):not(.respondido):focus {
  border-bottom: 0.5rem solid #4C4347;
  transform: translateY(-3px);
  margin-bottom: -3px;
}


#try div:not(.oculto) input:not(.certo):not(.errou):not(.quase):not(.respondido) {
  border: 0.2rem solid #4C4347;
}

textarea:focus, input:focus, select:focus {
  outline: 0;
}

#try {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  caret-color: transparent;
}

.respondido {
  border: none;
}

.quase {
  background: var(--colorPlace);
  border: none;
}

.certo {
  background: var(--colorRight);
  border: none;
}

.errou {
  background: var(--colorWrong);
}

.oculto input {
  background: #615458;
  pointer-events: none;
  border: none;
}

.respondido {
  pointer-events: none;
}

.alert {  
  color: white;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  background: #61acdf;
  border: 0.125rem solid #4C4347;
}

@media screen and (max-width: 750px) {
  .letra, .enter, .backspace {
    width: 6.5vw;
    height: 3rem;
    font-size:large;
    margin: 0.05rem;
    padding: 0;
  }
  .enter {
    min-width: 3rem;
    margin-left: 0.25rem;
  }

  .backspace {
    min-width: 3rem;
    margin-left: 0.25rem;
  }
  #try input {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .letra, .enter, .backspace {
    width: 4rem;
    height: 4rem;
    font-size:xx-large;
    margin: 0.1rem;
  }
  .enter {
    width: 7rem;
    margin-left: 0.3rem;
  }

  .backspace {
    width: 5rem;
    margin-left: 0.3rem;
  }
  #try input {
    min-width: 4rem;
    min-height: 4rem;
    font-size:xx-large;
  }
}

input.respondido, input.certo, input.quase, input.errou {
  animation: girar 0.5s ease-in-out;
}

@keyframes girar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

#palavra-escolhida {
  font-size: xx-small;
}

.quase-teclado {
  background: var(--colorPlace);
}
.errou-teclado {
  opacity: 30%;
}

.certo-teclado {
  background: var(--colorRight);
}

#reiniciar {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: -0.3rem;
}
